
* {
    box-sizing: border-box;
}
.w50 {
    width: 50%;
}

.lfloat {
    float: left;
}

.bordered {
    border: solid black 1px;
}

body.wcbody {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: visible;
}

div#divright {
    position: absolute;
    right: 0;
    width: 75%;
    top: 0;
    height: 100%;
    border: 1px solid gray;
    overflow: hidden;
}

div#left-column {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: visible;
    background-color: #EEF;
    border: 1px solid gray;
}

div#command-section {
    position: relative;
    width: 100%;
    text-align: center;
}

div#command-section div {
    font-size: small;
    overflow: hidden;
}

div#replacebox input[type=text] {
    font-size: 1.3em;
    font-family: monospace;
}

select {
    margin: .3em auto;
}

div#divtblcontext {
    position: relative;
    width: 100%;
}

select#tblcontext {
    width: 100%;
    max-height: 100%;
    margin: 0;
    font-family: monospace;
}

div#divright .likealink {
    float: right;
    width: 70%;
    font-size: .8em;
}

div#div_context_list {
    position: relative;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    clear: left;
    height: 50%;
    overflow: scroll;
}

div#div_context_image {
    top: 0;
    height: 50%;
    width: 100%;
    overflow: scroll;
}

#imgcontext {
    width: 75%;
}

div#findreplace {
    overflow: hidden;
}

input {
    display: inline-block;
    margin: .5em;
}

.auto {
    width: auto;
    margin: auto;
}

.none {
    display: none;
}

.block {
    display: block;
}

span.wcontext {
    background-color: pink;
}
div.ctxt-left {
    float: left;
    width: 7em;
    margin-top: 1.5em;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
div.ctxt {
    border-bottom: 1px solid gray;
    background-color: #EEEEEE;
    float: left;
    width: 100%;
}
div.ctxt-right {
    float: left;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 1.1em;
    margin: .2em .3em .3em 1em;
}

div.ctxt-null {
    text-align: center;
}

div#adhoc {
    border-top: 1px solid black;
    width: 100%;
    padding: .3em;
}

div#adhocctl {
    float: left;
    width: 33%; 
}

textarea#adhoclist {
    width: 66%;
    height: 8em;
    border: 1px solid blue;
}


