
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.errline {
    background-color: orangered;
}

i {
    color: red;
}

b {
    color: SaddleBrown;
}

sc {
    font-variant: small-caps;
    color: green;
    font-size: 120%;
}

g {
    letter-spacing: 0.5em;
    color: red;
}

f {
    color: pink;
}

span.blank-run {
    font-size: 75%;
    color: coral;
    text-decoration: underline;
}

body#pfbody {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

pre { margin: 0; }

form#formedit {
    overflow: hidden;
}

div#selectors {
    font-size: 1.3em;
}

div#pickers {
    font-size: 1.1em;
}

div#divright,
div#divleft {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 100%;
    /* visibility: hidden; */
}

div#divright {
    right: 0;
}
div#divleft {
    left: 0;
}

#divsplitter {
    position: absolute;
    background-color: green;
    z-index: 2;
    top: 0;
    left: 0;
    /* visibility: hidden; */
}

div#divcontrols {
    position: absolute;
    bottom: 21px; /* height of controls section */
    width: 100%;
    background-color: #EEDFCC;
    padding: 1px .25em;
    font-size: 14px;
    /* visibility: hidden; */
}

div#divcontrols div#divcharpicker {
    float: left;
    width: auto;
    height: auto;
    text-align: left;
    margin: 1px 2px;
    bottom: 2em;
}

div#divcontrols div#divmarkup {
    float: right;
    text-align: left;
    width: auto;
    height: auto;
    margin: 0 .5em;
}

div#divcontrols div#divcharshow {
    visibility: hidden;
    font-size: 2em;
    width: auto;
    height: auto;
    padding: 0 0 0 .2em;
    border: 2px solid gray;
    background-color: white;
    line-height: 1em;
    float: left;
}

.rfloat {
    float: right;
}

.clear {
    clear: both;
}

.lfloat {
    float: left;
}

.w35 {
    width: 35%;
}

div.proofbutton button,
div.proofbutton input {
    text-align: center;
    border-color: black;
}

table.tblpicker td,
table.tblpicker th {
    padding-left: 0;
    padding-right: .2em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1em;
}

.proofbutton a {
    margin: 0;
    padding: 0;
}

    #divimage {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    div#divprevimage,
    div#divnextimage {
        position: absolute;
        left: 0;
        width: 100%;
        visibility: hidden;
        height: 25%;
        overflow: auto;
        border: 2px solid gray;
    }
    div#divprevimage { top: 0; }
    div#divnextimage { bottom: 0; }

    span.punc {
        background-color: yellow;
    }
    img#imgprev,
    img#imgnext {
        width: 100%;
    }

    div#divfratext {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: #FFF8DC;
        color: #FFF8DC;
        overflow: auto;
    }

    div#divtext {
        position: relative;
        overflow: hidden;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 5px;
}
    textarea#tatext,
    pre#prepreview {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 5px 5px 0;
        overflow: hidden;
        white-space: pre;
    }

    textarea#tatext {
        border: 0;
        color: black;
        background: transparent;
    }

    pre#prepreview {
        visibility: hidden;
        color: blue;
        /* color: #FCF8EA; */
    }

    div#ctlpanel {
        position: absolute;
        left: 0; /* relative to parent i.e. divright */
        width: 100%;
        padding: 3px 5px;
        background-color:#CDC0B0;
        text-align: left;
        overflow: hidden;
        /* visibility: hidden; */
    }

    div#ctlpanel * {
        height: 24px;
        float: left;
    }
    div#ctlpanel div {
        overflow: hidden;
        float: left;
        height: auto;
        width: auto;
    }

    div#ctlpanel div#divctlnav {
        float: right;
    }

    div#divstatusbar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;
        background-color: #CDC0B0;
        overflow: hidden;
        padding: 2px 5px;
        text-align: justify;
        font-size: 13px;
    }

    div#divstatusbar div {
        display: inline-block;
        float: left;
        margin: 0 1em;
    }

    select#selfontface {
        width: 9em;
    }

    img#imgpage {
        position: relative;
        top: 0;
        width:100%;
        overflow: hidden;
    }

    div#divGear {
        position: absolute;
        padding: .3em;
        width:100%;
        overflow: hidden;
        border: 1px solid gray;
        background-color: #EEDFCC;
        z-index: 3;
    }

    .lh10 { line-height: 1.5em; }
    .lh15 { line-height: 2.0em; }
    .lh20 { line-height: 2.5em; }

    #imgtweet {
        display: none;
    }

    div#divtweet,
    div#divFandR,
    div#divPreviewErrors {
        position: absolute;
        padding: .3em;
        width:100%;
        display: none;
        overflow: hidden;
        border: 1px solid gray;
        background-color: #CDC0B0;
        z-index: 3;
    }

    #digraphframe {
	position: fixed;
	display: none;
	border: 2px solid black;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	z-index: 3;
	background-color: floralwhite;
	overflow: auto;
    }

    #digraph-content {
	margin: auto;
	padding: 20px;
	border 2px solid black;
	width: 80%;
    }

    #digraph-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
    }

    #digraph-close:hover,
    #digraph-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
    }

    #digraph {
	margin: auto;
    }

    #digraph td {
	padding-right:1em;
    }

    textarea#tweet{
        width: 100%;
        height: 100%;
    }

    .linethru {
        text-decoration: line-through;
    }

    hr {
        margin: 0;
    }

    div#divPreviewErrors div,
    div#divFandR div,
    div#divGear div {
        float: left;
    }

    div#divPreviewErrors {
	overflow: auto;
    }

    table#tblFandR input[type=text] {
        font-family: monospace;
        padding: 0 1px;
    }

    table#tblFandR {
        width: 100%;
    }

    div#divGear input {
        font-size: .8em;
    }

    .ctlcombo {
        background-color:#FFF8DC;
        font-size: 12px;
    }

    .quarter {
        width: 25%;
        text-align: center;
        float: left;
    }

    .likealink {
        margin: 0;
        padding: 0;
        color: blue;
        cursor: pointer;
        text-decoration: underline;
    }

    span#span_wccount,span#span_fmtcount {
        padding: .2em .5em;
        visibility: hidden;
    }

    span.spacey {
        color: pink;
        background-color: lightpink;
    }
    span.accepted {
        border: 1px dotted black;
        margin: -1px;
        color: #cfc;
        background-color: #cfc;
    }

    div#divGear fieldset {
        float: left;
        height: 100%;
    }

    #imggear {
        margin-left: 5px;
        margin-right: 5px;
    }

    span.wc {
        background-color: #FFC7D7;
        color: #FFC7D7;
    }

    span.wcs {
        border: 1px dashed green;
        margin: -1px;
    }

    span.wcb { border: 2px solid red;
        color: #FFC7D7;
        background-color: #FFC7D7;
        margin: -2px;
    }

    body.wchk {
        overflow: hidden;
    }

    div.wchkhdr {
        position: absolute;
        top: 0;
    }

    div.wchk {
        position: absolute;
        width: 100%;
        height: 98%;
        top: 1%;
    }

    div.wchkimg, div.wchktext {
        position: absolute;
        overflow: auto;
        height: 98%;
        width: 49%;
    }

    img.wchk { width: 100%; }

    div.wchkimg { left: 1%; right: 1%; top: 1%; bottom: 1%; }
    div.wchktext { right: 0; }

    .lfloat { float: left; }
    .rfloat { float: right; }
    .clear  { clear: both; }
    .w100   { width: 100%; }
    .w75    { width: 75%; }
    .w90    { width: 90%; }
    .w80    { width: 80%; }
    .w70    { width: 70%; }
    .w65    { width: 65%; }
    .w60    { width: 60%; }
    .w50    { width: 50%; }
    .w40    { width: 40%; }
    .w35    { width: 35%; }
    .w30    { width: 30%; }
    .w25    { width: 25%; }
    .w20    { width: 20%; }
    .w15    { width: 15%; }
    .w10    { width: 10%; }
    .hide   { display: none;
              visibility: hidden;}
    .block  { display: block;
              visibility: visible;}
    .hm2     { margin-left: 2px; margin-right: 2px; }
    .lm1     { margin-left: 1px;}
    .lm2     { margin-left: 2px;}
    .lm3     { margin-left: 3px;}
    .lm4     { margin-left: 4px;}
